{% extends 'main.html' %}

{% block content %}

<main class="singleProject my-md">
    <div class="container">
      <div class="layout">
        <div class="column column--1of3">
          <h3 class="singleProject__subtitle">Semester</h3>
          {% for sm in sem.sem1 %}
          <div class="singleProject__toolStack">
            <span class="tag tag--pill tag--sub tag--lg">
              <a href="{% url 'semestersh' sm.1 %}"><small>{{sm.0}}</small></a>
            </span>    
          </div>
          {% endfor %}
        </div>
        <div class="column column--2of3">
          <img class="singleProject__preview" src="{{projects2.featured_image.url}}" alt="portfolio thumbnail" />
          <a href="profile.html" class="singleProject__developer">Md. Shahriar Parvez</a>
          <h2 class="singleProject__title">{{projects2.title}}</h2>
        </div>
      </div>
    </div>
  </main>


{% endblock %}